<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân sự</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1 th:text=${title}></h1>
    <table class="table">
        <tr>
            <th>Mã nhân viên</th>
            <th>Tên NV</th>
            <th>Phái</th>
            <th>Nơi sinh</th>
            <th>Mã Phòng</th>
            <th>Lương</th>
            <th>Action</th>

        </tr>
        <tr th:each="nhanvien : ${nhanvien}">
            <td th:text="${nhanvien.ma_nv}"></td>
            <td th:text="${nhanvien.ten_nv}"></td>
            <td th:text="${nhanvien.phai}"></td>
            <td th:text="${nhanvien.noi_sinh}"></td>
            <td th:text="${nhanvien.phongban.Ma_Phong}"></td>
            <td th:text="${nhanvien.luong}"></td>
            <td>
                <a th:href="@{/nhanvien/edit/{id}(id=${nhanvien.Ma_NV})}">Edit</a>
                <a th:href="@{/nhanvien/delete/{id}(id=${nhanvien.Ma_NV})}"
                   onclick="return confirm('Are you sure>')">Delete</a>
            </td>
        </tr>
    </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html></title>
</head>
<body>

</body>
</html>