<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ỨNG DỤNG QUẢN LÝ NHÂN SỰ</title>
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        TRANG CHỦ ỨNG DỤNG QUẢN LÝ NHÂN SỰ
      </a>
    </div>
  </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>